.admonition {
  background-color: #fafafa;
  border-left: .3rem solid #42b983;
  border-radius: .3rem;
  box-shadow: 0 .1rem .4rem rgba(0, 0, 0, .05), 0 0 .05rem rgba(0, 0, 0, .1);
  font-size: .64rem;
  margin: 1.5625em 0;
  overflow: hidden;
  padding: .6rem;
  page-break-inside: avoid;
}

p.admonition-title {
  background-color: rgba(66, 185, 131, .1);
  font-weight: 700;
  margin: -.6rem -.6rem .8em -.6rem !important;
  padding: .4rem .6rem .4rem 2.5rem;
  position: relative;
}

.admonition-title::before {
  background-color: #42b983;
  border-radius: 50%;
  content: ' ';
  height: 12px;
  left: 1rem;
  position: absolute;
  top: .9rem;
  width: 12px;
}

.info>.admonition-title, .todo>.admonition-title {
  background-color: rgba(0, 184, 212, .1);
}

.warning>.admonition-title, .attention>.admonition-title, .caution>.admonition-title {
  background-color: rgba(255, 145, 0, .1);
}

.failure>.admonition-title, .missing>.admonition-title, .fail>.admonition-title, .error>.admonition-title {
  background-color: rgba(255, 82, 82, .1);
}

.admonition.info, .admonition.todo {
  border-color: #00b8d4;
}

.admonition.warning, .admonition.attention, .admonition.caution {
  border-color: #ff9100;
}

.admonition.failure, .admonition.missing, .admonition.fail, .admonition.error {
  border-color: #ff5252;
}

.info>.admonition-title::before, .todo>.admonition-title::before {
  background-color: #00b8d4;
  border-radius: 50%;
}

.warning>.admonition-title::before, .attention>.admonition-title::before, .caution>.admonition-title::before {
  background-color: #ff9100;
  border-radius: 50%;
}

.failure>.admonition-title::before, .missing>.admonition-title::before, .fail>.admonition-title::before, .error>.admonition-title::before {
  background-color: #ff5252;
  border-radius: 50%;
}

.admonition>:last-child {
  margin-bottom: 0 !important;
}

// 美化
body {
  background-attachment: fixed;
  background-image: #fcfcfc;
  background-position: center;
  background-repeat: no-repeat;
}

.main-inner {
  background-color: rgba(255, 255, 255, 0);
}

.post-block {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 30px 30px 30px 30px;
  box-shadow: 8px 7px 2px 0 rgba(0, 0, 0, .12), 7px 4px 1px -2px rgba(0, 0, 0, .06), 0 1px 5px 0 rgba(0, 0, 0, .12);
  margin-bottom: 24px;
  margin-top: 24px;
  padding: 20px;
}

.header-inner {
  border-radius: 30px 30px 30px 30px;
  box-shadow: 8px 7px 2px 0 rgba(0, 0, 0, .12), 7px 4px 1px -2px rgba(0, 0, 0, .06), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.sidebar, .content-wrap,.headband {
  background-color: rgba(255, 255, 255, 0);
}

.content {
  padding-top: 0;
}

.content-wrap {
  padding: 0 40px 40px;
}

.sidebar-inner {
  border-radius: 30px 30px 30px 30px;
  box-shadow: 8px 7px 2px 0 rgba(0, 0, 0, .12), 7px 4px 1px -2px rgba(0, 0, 0, .06), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.pagination {
  border-radius: 30px 80px 30px 80px;
  box-shadow: 8px 7px 2px 0 rgba(0, 0, 0, .12), 7px 4px 1px -2px rgba(0, 0, 0, .06), 0 1px 5px 0 rgba(0, 0, 0, .12);
}